.login-page {
  @apply container flex mx-auto max-w-screen-md items-center h-screen;

  & .phone-image-wrapper {
    animation: #{fadeIn} 5s ease-in;
    @apply flex w-0 md:w-3/5 transition-opacity;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.9;
      }
    }
  }

  & .login-form {
    @apply flex w-full m-4 md:m-0 md:w-2/5 flex-col;

    & input[type="submit"],
    input[disabled="true"] {
      @apply bg-blue-medium text-white w-full;
    }
  }
}
